.browse {
    width: 100%;
    height: 352px;
    background-color: #FAFAFA;
}

.browse__title {
    padding-top: 80px;
    padding-left: 5vw;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.01em;
}

.browse__list {
    display: flex;
    width: 90%;
    height: 128px;
    list-style-type: none;
    margin: 32px auto;
    padding: 0;
    justify-content: center;
}

.cards__browse {
    width: 15%;
    height: 128px;
    margin-right: 32px;
    background-color: #EDEDED;
    border-radius: 15px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.cards__browse.last {
    margin-right: 0;
}

.description__card {
    width: 100%;
    height: 24px;
    text-align: center;
}

@media (max-width: 1024px) {
    .browse {
        height: 300px;
    }

    .browse__list {
        width: 95%;
    }

    .cards__browse {
        width: 15%;
        margin-right: 2%;
    }

    .description__card {
        display: none;
    }
}

@media (max-width: 600px) {
    .browse {
        height: 250px;
    }

    .browse__title {
        padding-top: 40px;        
    }

    .cards__browse {
        height: 90px;
    }
}

@media (max-width: 425px) {
    .browse {
        height: 200px;
    }

    .browse__title {
        padding-top: 40px;
        font-size: 16px;
    }

    .cards__browse {
        height: 60px;
    }
    
    .card__img {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .browse {
        height: 100px;
        width: 100vw;
    }

    .browse__title {
        padding-top: 20px;
        width: 140px;
        padding-left: 20px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.01em;
    }

    .browse__list {
        display: flex;
        height: 40px;
        list-style-type: none;
        margin: 10px auto;
        width: 90%;
    }

    .cards__browse {
        width: 50px;
        height: 50px;
        background-color: #EDEDED;
        border-radius: 5px;
        margin: 0;
    }

    .cards__browse:not(:last-child) {
        margin-right: 10px;
    }

    .card__img {
        display: none;
    }
    
    .description__card {
        text-align: center;
        font-size: 5px;
        margin-top: 50%;
        padding: 0;
        height: 10px;
    }
}