.catalog {
    width: 100%;
    margin-bottom: 30px;
}

.cards__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.card__catalog {
    list-style-type: none;
    width: 23vw;
    height: 432px;
    background-color: #F6F6F6;
    gap: 16px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}

.like__catalog {
    margin-top: 5px;
    margin-left: 85%;
    width: 10%;
    cursor: pointer;
}

.img__catalog__card {
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
}

.description__catalog {
    height: 80px;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
}

.price__catalog {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.buy__now__btn {
    width: 50%;
    height: 48px;
    border-radius: 8px;
    background-color: black;
    margin-left: 25%;
    margin-top: 20px;
    cursor: pointer;
}

.buy__now__text {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

@media (max-width: 2560px) {
    .card__catalog {
        height: 25vw;
    }
}

@media (max-width: 2000px) {
    .card__catalog {
        height: 27vw;
    }
}

@media (max-width: 1700px) {
    .card__catalog {
        height: 30vw;
    }
}

@media (max-width: 1440px) {
    .card__catalog {
        height: 35vw;
    }
}

@media (max-width: 1024px) {
    .card__catalog {
        height: 40vw;
    }
}

@media (max-width: 850px) {
    .card__catalog {
        height: 45vw;
    }
}

@media (max-width: 768px) {
    .card__catalog {
        height: 50vw;
    }

    .description__catalog {
        line-height: 16px;
    }

    .buy__now__btn {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 600px) {
    .card__catalog {
        height: 264px;
        width: 20vw;
    }

    .description__catalog {
        line-height: 12px;
        font-size: 10px;
    }

    .price__catalog {
        font-size: 14px;
    }

    .buy__now__btn {
        height: 10%;
    }

    .buy__now__text {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .cards__catalog {
        gap: 8px;
        margin: 10px auto;
    }
    
    .card__catalog {
        list-style-type: none;
        width: 23%;
        height: 30%;
        background-color: #F6F6F6;
        gap: 16px;
        border-radius: 9px;
    }

    .img__catalog__card {
        padding: 0;
        width: 40%;
        height: 40%;
        margin: 0 23px;
    }

    .description__catalog {
        width: 90%;
        height: 30px;
        padding: 5px 0 5px 10px;
        line-height: 6px;
        font-size: 5px;
    }

    .price__catalog {
        padding: 0;
        margin: auto;
        width: 30px;
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.03em;
    }

    .buy__now__btn {
        width: 60%;
        height: 5%;
        margin: 5px 18px;
    }
    
    .buy__now__text {
        font-size: 5px;
        line-height: 6px;
    }

    .like__catalog {
        padding: 0;
        width: 10px;
        height: 10px;
    }
}