.devices {
    display: flex;
    width: 100%;
}

.container__columns {
    width: 100%;
    height: 700px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.devices__popular__products {
    height: 100%;
    width: 100%;
}

.devices__ipad__pro {
    height: 100%;
    background-color: #F9F9F9;
}

.devices__samsung {
    height: 100%;
    background-color: #EAEAEA;
}

.devices__mac {
    height: 100%;
    background-color: #2C2C2C;
}

.img__devices {
    width: 100%;
    height: 366px;
}

.devices__article {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title__devices {
    font-size: 33px;
    font-weight: 300;
    text-align: left;
    width: 80%;
    margin: 0;
    height: 100px;
}

.description__devices {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #909090;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 80%;
    margin: 0;
}

.shop__now {
    width: 60%;
    height: 56px;
    text-align: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.title__devices.mac {
    color: white;
}

.shop__now.mac {
    color: white;
    border: 1px solid white;
} 

@media (max-width: 1440px) {
    .title__devices {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    .container__columns {
        height: 750px;
    }
}

@media (max-width: 768px) {
    .container__columns {
        height: 400px;
    }

    .img__devices {
        width: 100%;
        height: 200px;
    }

    .description__devices {
        display: none;
    }

    .shop__now {
        width: 70%;
    }
}

@media (max-width: 320px) {
    .container__columns {
        height: 165px;
    }
    
    .img__devices {
        width: 80px;
        height: 80px;
    }

    .title__devices {
        width: 70%;
        font-size: 6px;
        line-height: 8px;
        padding-bottom: 5px;
        margin: 0 auto;
        text-align: center;
    }

    .devices__article {
        width: 25vw;
        font-size: 5px;
        padding: 0;
        margin: 0 auto;
        height: 100%;
    }

    .description__devices {
        width: 60px;
        font-size: 4px;
        line-height: 7px;
        padding: 0;
        margin: 0 auto 5px;
    }

    .shop__now {
        width: 60px;
        height: 20px;
        padding: 0;
        margin-left: 10px;
        border-radius: 6px;
        font-size: 5px;
    }
}
