.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 550px;
}

.container__footer {
    padding-top: 104px;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    width: 80%;
}

.footer__fisrt__column {
    width: 20vw;
}

.footer__description {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #CFCFCF;
    margin-top: 24px;
}

.footer__second__column {
    margin-left: 10vw;
    width: 20vw;
}

.footer__third__column {
    margin-left: 10vw;
    width: 20vw;
}

.footer__title__second {
    margin-bottom: 8px;
}

.list__services {
    list-style-type: none;
    padding: 0;
}

.service {
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #CFCFCF;
    cursor: pointer;
}

.service:not(:last-child) {
    margin-bottom: 8px;
}

.footer__title__third {
    margin-bottom: 8px;
}

.list__assistances {
    list-style-type: none;
    padding: 0;
}

.assistance {
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #CFCFCF;
    cursor: pointer;
}

.assistance:not(:last-child) {
    margin-bottom: 8px;
}

.social__networks {
    display: flex;
    gap: 1vw;
    padding: 0;
    padding-top: 140px;
}

.social__network {
    list-style-type: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer__description {
        font-size: 9px;
    }

    .footer__second__column {
        font-size: 11px;
    }

    .service {
        font-size: 9px;
    }

    .footer__third__column {
        font-size: 11px;
    }

    .assistance {
        font-size: 9px;
    }
}

@media (max-width: 600px) {
    .footer__description {
        font-size: 8px;
    }

    .footer__second__column {
        font-size: 10px;
    }

    .service {
        font-size: 8px;
    }

    .footer__third__column {
        font-size: 10px;
    }

    .assistance {
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    .footer {
        height: 160px;
    }

    .container__footer {
        padding: 0;
        margin: 0;
        padding-top: 30px;
        padding-left: 20px;
        height: 160px;
        display: flex;
    }

    .footer__fisrt__column {
        height: 60px;
        width: 106px;
    }

    .logo__footer {
        width: 50px;
    }
    
    .footer__description {
        font-size: 4px;
        line-height: 6px;
        margin-top: 5px;
        width: 50px;
    }

    .footer__second__column {
        margin: 0;
        width: 106px;
        height: 100px;
    }
    
    .footer__title__second {
        font-size: 9px;
    }
    
    .list__services {
        list-style-type: none;
        padding: 0;
    }
    
    .service {
        width: 50px;
        height: 6px;
        font-size: 5px;
        line-height: 6px;
    }
    
    .service:not(:last-child) {
        margin-bottom: 5px;
    }

    .footer__third__column {
        margin: 0;
        width: 106px;
        height: 100px;
    }
    
    .footer__title__third {
        margin-bottom: 5px;
        font-size: 9px;
    }
    
    .assistance {
        width: 80%;
        height: 6px;
        font-size: 5px;
        line-height: 6px;
    }

    .social__networks {
        display: flex;
        gap: 20px;
        margin-left: 0;
        padding-top: 20px;
    }
}
