.header {
    min-width: 100vh;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 88px;
    padding: 0;
    min-width: 100%;
}

.logo {
    width: 65px;
    height: 23px;
    margin-left: 20vh;
}

.search-form {
    display: flex; 
    align-items: center; 
    background-size: cover; 
    margin-left: 15vh;
    min-width: 372px;
    background-color: #F5F5F5;
    height: 56px;
    border-radius: 8px;
}

.search__line {
    border: none;
    outline: none; 
    padding: 19px; 
    padding-left: 8px;
    flex-grow: 1;
    background-color: #F5F5F5;
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #656565;
    border-radius: 8px;
}

.search__button {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.img__search {
    margin-left: 16px;
    
}

.navigation {
    margin-left: 8vh;
    display: flex;
    list-style: none;
    padding: 0;
}

.pages__item:not(:last-child) {
    padding-right: 5vh;
}

.pages__link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pages__link{
    color: gray;
}

.pages__link.first{
    color: black;
}

.icons__list {
    display: flex;
    list-style: none;
}

.icons__item:not(last-child){
    margin-right: 24px;
}

.icons__items {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.icons__item_heart {
    background-image: url(../img/heart.png);
}

.icons__item_cart {
    background-image: url(../img/cart.png);
}

.icons__item_user {
    background-image: url(../img/user.png);
}

@media (max-width: 320px) {
    
    .header__container {
        justify-content: space-between; 
        padding-left: 10px; 
        padding-right: 10px;
        margin-left: 0; 
        margin-right: 0; 
    }

    .logo {
        margin-left: 5vh; 
        width: 50px;
        height: auto; 
    }

    .search-form {
        display: none;
    }

    .navigation {
        display: none; 
    }

    .icons__list {
        margin-left: auto; 
        margin-right: 0; 
        padding-right: 10px; 
        display: flex; 
        align-items: center; 
        margin-left: 15px; 
    }

    .icons__item:not(:last-child) {
        margin-right: 10px; 
    }
}