.header {
    min-width: 100vh;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 88px;
    padding: 0;
    min-width: 100%;
}

.logo {
    width: 65px;
    height: 23px;
    margin-left: 20vh;
}

.search-form {
    display: flex; /* Используем Flexbox для расположения элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    background-size: cover; /* Масштабируем изображение */
    margin-left: 15vh;
    min-width: 372px;
    background-color: #F5F5F5;
}

.search__line {
    border: none; /* Убираем стандартную рамку */
    outline: none; /* Убираем обводку при фокусе */
    padding: 10px; /* Добавляем отступы внутри поля ввода */
    flex-grow: 1; /* Поле ввода занимает все доступное пространство */
    background-color: #F5F5F5;
}

.search__button {
    border: 0;
    background-color: transparent;
}

.navigation {
    margin-left: 8vh;
    display: flex;
    list-style: none;
    padding: 0;
}

.pages__item:not(:last-child) {
    padding-right: 5vh;
}

.pages__link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icons__list {
    display: flex;
    list-style: none;
}

.icons__item:not(last-child){
    margin-right: 24px;
}

.icons__items {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}


.icons__item_heart {
    background-image: url(../img/heart.png);
}

.icons__item_cart {
    background-image: url(../img/cart.png);
}

.icons__item_user {
    background-image: url(../img/user.png);
}