.iphone__14pro {
    width: 100%;
    height: 632px;
    background-color: #211C24;
    display: flex;
}

.article__14pro {
    margin-left: 160px;
    margin-top: 188px;
    min-width: 714px;
    min-height: 256px;
}

.i14pro__above {
    color: gray;
    font-size: 25px;
    margin: 0;
}