.iphone__14pro {
    width: 100%;
    height: 632px;
    background-color: #211C24;
    display: flex;
}

.article__i14pro {
    margin-left: 160px;
    margin-top: 188px;
    min-width: 714px;
    min-height: 256px;
}

.above__i14pro {
    color: gray;
    font-size: 25px;
    margin: 0;
}

.title__i14pro {
    margin: 0;
    display: flex;
    color: white;
    font-size: 96px;
    font-weight: 200;
}

.below__i14pro {
    color: gray;
    font-size: 18px;
    margin: 0;
}



