.popular__devices.first {
    display: flex;
    width: 100%;
}

.popular__devices.second {
    display: flex;
    margin-top: -272px;
    width: 50%;
}

.popular__devices.ps5 {
    width: 50vw;
    height: 328px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.img__ps5 {
    object-fit: cover;
    height: 100%;
    width: 50%;
}

.text__ps5 {
    width: 50%;
    height: 100%;
    align-items: center;
}

.ps5__title {
    font-size: 49px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 30%;
}

.ps5__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
    padding-top: 16px;
}

.popular__devices.macbook {
    width: 50vw;
    height: 600px;
    background-color: #EDEDED;
    display: flex;
    cursor: pointer;
    position: relative;
}

.text__mac {
    max-width: 30%;
    height: 192px;
    margin-top: 204px;
    margin-left: 56px;
}

.mac__title {
    font-size: 64px;
    font-weight: 200;
    line-height: 56px;
    max-width: 30%;
}

.mac__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
    padding-top: 16px;
}

.mac__img {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    height: 100%;
    width: 50%;
}

.popular__devices.airpods__max {
    width: 25vw;
    height: 272px;
    display: flex;
    cursor: pointer;
    background-color: #EDEDED;
}

.img__airpods {
    height: 100%;
    width: 30%;
}

.text__airpods {
    width: 40%;
    height: 143px;
    margin-top: 65px;
    margin-left: 16%;
}

.airpods__tilte {
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
    width: 100%;
}

.airpods__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
}

.popular__devices.av__pro {
    width: 25vw;
    height: 272px;
    background-color: #353535;
    display: flex;
    cursor: pointer;
}

.text__avpro {
    width: 50%;
    height: 143px;
    margin-top: 70px;
    margin-left: 15%;
}

.avpro__title {
    font-size: 29px;
    font-weight: 200;
    line-height: 40px;
    text-align: left;
    color: #EDEDED;
    width: 100%;
}

.avpro__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
}

.img__avpro {
    width: 30%;
    height: 100%;
}

@media (max-width: 1440px) {
    .text__ps5 {
        width: 50%;
        height: 100px;
    }
    
    .ps5__title  {
        font-size: 40px;
        line-height: 24px;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .ps5__title {
        font-size: 30px;
    }
    
    .text__airpods {
        margin-top: 30px;
    }

    .text__avpro {
        margin-top: 30px;
    }

    .text__mac {
        margin-left: 30px;
    }

    .mac__title {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .text__ps5 {
        height: 40%;
    }

    .ps5__title {
        font-size: 24px;
        padding-left: 10px;
    }

    .ps5__description {
        padding-top: 8px;
        padding-left: 10px;
        font-size: 10px;
        line-height: 16px;
    }

    .mac__title {
        font-size: 30px;
        line-height: 40px;
    }

    .mac__description {
        font-size: 10px;
        line-height: 16px;
    }

    .airpods__max {
        align-items: center;
    }

    .airpods__tilte {
        font-size: 20px;
        line-height: 30px;
    }

    .airpods__description {
        display: none;
    }

    .av__pro {
        align-items: center;
    }

    .avpro__title {
        font-size: 22px;
        line-height: 30px;
    }

    .avpro__description {
        display: none;
    }
}

@media (max-width: 600px) {
    .popular__devices.ps5 {
        height: 200px;
    }

    .ps5__description {
        display: none;
    }

    .text__ps5 {
        height: 0;
    }

    .ps5__title {
        font-size: 18px;
        padding-left: 0;
    }

    .popular__devices.macbook {
        height: 400px;
        align-items: center;
    }

    .text__mac {
        margin: 0;
        margin-left: 10%;
        height: 0;
    }

    .mac__title {
        font-size: 24px;
        line-height: 26px;
    }

    .mac__description {
        display: none;
    }

    .popular__devices.airpods__max {
        height: 200px;
        align-items: center;
    }

    .text__airpods {
        margin-left: 10%;
        margin-top: 50%;
    }

    .airpods__tilte {
        font-size: 16px;
    }

    .popular__devices.av__pro {
        height: 200px;
    }

    .text__avpro {
        margin-left: 10%;
        margin-top: 50%;
    }

    .avpro__tilte {
        font-size: 16px;
    }

    .popular__devices.second {
        margin-top: -200px;
    }
}

@media (max-width: 425px) {
    .ps5__title {
        font-size: 16px;
        margin-left: 2px;
    }

    .mac__title {
        font-size: 16px;
    }

    .avpro__title {
        font-size: 12px;
    }

    .airpods__tilte {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .popular {
        height: 300px;
        width: 100%;
    }

    .img__ps5 {
        width: 40%;
        height: 150px;
    }

    .popular__devices.first {
        height: 150px;
    }

    .popular__devices.second {
        margin: 0;
    }

    .popular__devices.ps5 {
        height: 150px;
    }

    .text__ps5 {
        margin-top: 50px;
        width: 80px;
        height: 100px;
        margin-left: 10px;
    }

    .ps5__title  {
        font-size: 12px;
        line-height: 6px;
    }

    .ps5__description {
        font-size: 5px;
        line-height: 7px;
        padding-top: 8px;
    }

    .popular__devices.macbook {
        height: 300px;
    }

    .text__mac  {
        margin-top: 50%;
        margin-left: 10%;
        width: 100px;
        height: 100px;
    }

    .mac__title {
        font-size: 12px;
        line-height: 12px;
    }

    .mac__description {
        font-size: 5px;
        line-height: 7px;
        padding-top: 8px;
    }

    .img__mac {
        width: 150px;
        height: 100%;
    }

    .popular__devices.airpods__max {
        height: 150px;
        position: relative;
        align-items: center;
    }

    .text__airpods {
        margin-top: 50px;
        width: 50px;
        height: 50px;
        margin: 0;
    }

    .airpods__tilte {
        width: 15px;
        font-size: 6px;
        line-height: 6px;
        margin: 0;
    }

    .airpods__description {
        font-size: 4px;
        line-height: 7px;
        padding-top: 8px;
        width: 100%;
    }

    .img__airpods {
        width: 60px;
        height: 80px;
        margin-left: -5vw;
    }

    .popular__devices.av__pro {
        height: 150px;
    }

    .text__avpro {
        margin-top: 50px;
        width: 40%;
        height: 100px;
        margin-left: 0;
    }

    .avpro__title {
        width: 15px;
        font-size: 6px;
        line-height: 6px;
        margin: 0;
    }

    .avpro__description {
        font-size: 4px;
        line-height: 7px;
        padding-top: 8px;
        width: 100%;
    }

    .img__avpro {
        width: 60px;
        height: 80px;
        margin-left: -5vw;
    }
}
